*, *:before, *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

#container {
  width: 800px;
  height: 40px;
  margin: 0 auto;
}

.square {
  width: 100px;
  height: 100px;
  display: inline-block;
  border: 1px solid black;
  margin-bottom: -4px;
}

.redPawn {
  border-radius: 100%;
  background-color: red;
  height: 90px;
  width: 90px;
  margin: 5px auto 5px auto;
  border: 1px solid black;
}

.blackPawn {
  border-radius: 100%;
  background-color: black;
  height: 90px;
  width: 90px;
  margin: 5px auto 5px auto;
  border: 1px solid black;
}
.legal {
  background: repeating-linear-gradient(45deg, #A0522D, #A0522D 10px, #70391F 10px, #70391F 20px);
}

.current {
  border: 5px solid blue;
}
